<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/basic.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="card">
        <div class="card-header">
            <h3>Menus</h3>
        </div>

        <style>
            .menus {
                justify-content: center;
                justify-items: center;
                display: flex;
                flex-wrap: wrap;
                overflow: auto;
                padding-left: 0em;
            }
            .menus li {
                list-style: none;
                text-align: center;
            }

            .product {
                margin: auto;


            }

        </style>

        <div >
            <ul class="menus col-12">
                <li class="col-sm-12 col-lg-6 col-md-6 col-12" th:each="dto: ${menus}" >
                    <div class="product">
                        <img th:src="@{'/view/'+ ${dto.fileName} }" class="img-thumbnail">
                        <div>
                            <h2>[[ ${dto.pname} ]]</h2>
                            <h2>[[ ${dto.price} ]]</h2>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>

</body>
</html>